#macro(includeBuildInfo)

<table class="table table-bordered" id="build-info">
  <thead>
    <tr>
##      <th>Project</th>
      <th>项目</th>
      #if($build_number)
##        <th>Number</th>
          <th>构建编号</th>
      #end
##      <th>Date</th>
      <th>日期</th>
    </tr>
  </thead>
  <tbody>
    <tr class="info">
      <td>$build_project_name</td>
      #if($build_number)
        <td>$build_number</td>
      #end
      <td>$build_time</td>
    </tr>
  </tbody>
</table>

#end
